@import "https://fonts.googleapis.com/css2?family=Bellefair&family=Epilogue:ital,wght@0,400;1,500&family=Karla:wght@400;700&display=swap";

$font-family: "Bellefair";
.home{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    div{
       
       
        width: 30%;
       color: white;
        text-align: center;
        h1{
            font-size: 100px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight:normal;
        }
        p{
            font-size: 20px;
            font-family: $font-family;
        }
        h4{
            font-weight: 100;
            font-size: 24px;
            font-family: $font-family;
        }

        
    }
    aside:hover{
        background-color: rgba(241, 236, 228, 0.418);
    }
    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        background-color: transparent;
        border-radius: 100%;
        
        span{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            height: 50%;
            border-radius: 100%;
            background-color: white;
            
        }
        span:hover{
            background-color: transparent;
           

        }
        button{
            font-size: 20px;
            align-self: center;
            background-color: transparent;
            border: none;
        }
        
    }
}