.vuelos {

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        font-size: 25px;
        background: #10ac84;
        input{
            height: 50px;
        }
        select {
            height: 50px;
        }
        
    }
}