body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    hr{
        color: azure;
        width: 35%;
        height: 0px;
    }
    section{
        backdrop-filter: blur(20px);
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        ul{
            display: flex;
            gap: 3vw;
            li{
                list-style: none;
                button{
                    color: white;
                    background-color: transparent;
                    border: none;
                    font-size: 17px;
                }
            }
        }
    }
}
